@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */
* {
    margin: 0;
    padding: 0;
}

/* banner part start from here */
#hero {
    height: 470px;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    width: 712px;
}

.img-container {
    text-align: center;
}

#hero .hero-content .hero-img {
    position: relative;
    padding-left: 50px;
    width: 173.03px;
    height: 228.9px;
    top: 0%;
    bottom: 4.63%;
    margin-bottom: 24px;
}

#hero .hero-content .title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 36px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

#hero .hero-content .description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 24px;
}

.btn-container {
    text-align: center;
}

#hero .hero-content .bg-btn {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    padding: 10px 14px 10px 14px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: none;
}

/* banner part end here */

/* why development part start from here */
#middle-part {
    width: 820px;
    height: 1004px;
    margin-left: 106px;
    margin-right: 109px;
    margin-top: 54px;
    border-radius: 5px;
    background: rgba(13, 19, 33, 0.02);
}

#middle-part header {
    text-align: center;
    margin-bottom: 36px;
}

#middle-part header h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

#middle-part header p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.middle-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 36px;
}

.middle-card h3 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 10px;
}

.middle-card p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-bottom: 10px;
}

.middle-card button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    padding: 8px 14px 8px 14px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

/* why web development part ends here */

/* Inspiration part start here */

#inspiration-part {
    height: 560px;
    width: 820px;
    margin-left: 106px;
    margin-right: 109px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 10px;
}

#inspiration-part header {
    text-align: center;
    margin-top: 64px;
}

#inspiration-part header h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

#inspiration-part header p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 35px;
    opacity: 0.7;
}

#inspiration-part iframe {
    width: 775px;
    border-radius: 10px;
    margin: 24px;
}

/* inspiration part ends here */

/* my current target part start here */

#card-box {
    height: 334px;
    width: 820px;
    margin-left: 106px;
    margin-right: 109px;
    margin-top: 107px;
}

#card-box header h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 26px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

#card-box header p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 35px;
}

.cards {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 16px;
}

#card-one {
    border-radius: 10px;
    background: rgba(255, 76, 30, 0.05);
}

#card-two {
    border-radius: 10px;
    background: rgba(0, 76, 232, 0.05);
}

#card-three {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.target-card {
    padding: 10px;
}

.cards .target-card img {
    width: 50px;
    height: auto;
    margin-bottom: 5px;
}

.cards .target-card h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.cards .target-card p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.cards .target-card a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

/* current target part ends here */

/* support part start from here */

#support {
    width: 820px;
    height: 226px;
    margin-left: 106px;
    margin-right: 109px;
    border-radius: 8px;
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), url(Email);
    display: flex;
    justify-content: center;
    align-items: center;
}

#support .support-container {
    width: 752px;
}

#support .support-container h3 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
}

#support .support-container p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
    opacity: 0.7;
}

#support .support-container input {
    width: 384px;
    height: 42px;
    margin-left: 110px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    text-align: center;
}

#support .support-container button {
    width: 86px;
    height: 42px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}