@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/* banner part start from here */
#hero {
    height: 580px;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    width: 884px;
}

.img-container {
    text-align: center;
}

#hero .hero-content .hero-img {
    position: relative;
    padding-left: 50px;
    width: 173.03px;
    height: 228.9px;
    top: 0%;
    bottom: 4.63%;
    margin-bottom: 24px;
}

#hero .hero-content .title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 42px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

#hero .hero-content .description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 24px;
}

.btn-container {
    text-align: center;
}

#hero .hero-content .bg-btn {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: none;
}

/* banner part end here */

/* why development part start from here */
#middle-part {
    width: 1014px;
    height: 1241px;
    margin-left: 109px;
    margin-right: 109px;
    margin-top: 60px;
    border-radius: 8px;
    background: rgba(13, 19, 33, 0.02);
}

#middle-part header {
    text-align: center;
    margin-bottom: 40px;
}

#middle-part header h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: justify;
    margin-bottom: 20px;
}

#middle-part header p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 20px;
}

.middle-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 250px;
    padding: 40px;
}

.middle-card h3 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    margin-bottom: 14px;
}

.middle-card p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-bottom: 14px;
}

.middle-card button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    padding: 12px 17px 12px 17px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

/* why web development part ends here */

/* Inspiration part start here */

#inspiration-part {
    height: 692px;
    width: 1014px;
    margin-left: 109px;
    margin-right: 109px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 14px;
}

#inspiration-part header {
    text-align: center;
    margin-top: 64px;
}

#inspiration-part header h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}

#inspiration-part header p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 40px;
    opacity: 0.7;
}

#inspiration-part iframe {
    width: 958px;
    height: 490;
    border-radius: 12px;
    margin: 20px;
}

/* inspiration part ends here */

/* my current target part start here */

#card-box {
    height: 412px;
    width: 1014px;
    margin-left: 109px;
    margin-right: 109px;
    margin-top: 107px;
}

#card-box header h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 29px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 18px;
}

#card-box header p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 37px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    gap: 20px;
}

#card-one {
    border-radius: 12px;
    background: rgba(255, 76, 30, 0.05);
}

#card-two {
    border-radius: 12px;
    background: rgba(0, 76, 232, 0.05);
}

#card-three {
    border-radius: 12px;
    background: rgba(255, 223, 0, 0.05);
}

.target-card {
    padding: 14px;
}

.cards .target-card img {
    width: 50px;
    height: auto;
    margin-bottom: 6px;
}

.cards .target-card h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 21px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.cards .target-card p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}

.cards .target-card a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

/* current target part ends here */

/* support part start from here */

#support {
    width: 1014px;
    height: 280px;
    margin-left: 109px;
    margin-right: 109px;
    border-radius: 10px;
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), url(Email);
    display: flex;
    justify-content: center;
    align-items: center;
}

#support .support-container {
    width: 930px;
    height: 165px;
}

#support .support-container h3 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 14px;
}

#support .support-container p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
    opacity: 0.7;
}

#support .support-container input {
    width: 487px;
    height: 50px;
    margin-left: 110px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    text-align: center;
}

#support .support-container button {
    width: 106px;
    height: 50px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

/* support parts end here */

/* footer part start from here */

#footer-part {
    width: 1280px;
    height: 89px;
    margin-top: 72px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.footer-container {
    width: 1014px;
    height: 32px;
    margin-left: 109px;
    margin-right: 109px;
}

.footer-container h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 75px;
}
.footer-container a{
    padding: 10px;
}
.footer-container .fav-img{
    margin-top: 75px;
}
.footer-container {
    width: 1014px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}